
.heroSection{
    display: flex;
    margin-top: -1%;
    background-color: #111813;
}

.heroLeft{
    margin-left: -5%;
    display: block;
}

.heroMid{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 7.5rem;
    font-family: 'Work Sans',sans-serif;
}
.heroRight{
    margin-left: auto;
    margin-right: -5%;
}

.connectButton{
    background-image: linear-gradient(98deg, #0FC28D ,#36C82A, #BFC20F);
    border: transparent;
    border-radius: .7rem;
    font-family: 'Work Sans', sans-serif;
    color: #ffffff;
    width: 168px;
    height: 50px;
    font-size: 1em;
    font-weight: 600;
    margin-top: 1.2rem;
    margin-bottom: auto;
    cursor: pointer;
}


.connectButton:hover{
    background-image: none;
    background-color: #111813;
    transition: 200ms;
}

.walletButton{
    border: .14rem solid #0FC28D;
    border-top: .14rem solid #36C82A;
    border-bottom: .14rem solid #36C82A;
    border-right: .14rem solid #BFC20F;
    background-image: none;
    background-color: transparent;
    border-radius: .7rem;
     font-family: 'Work Sans', sans-serif;
     color: #ffffff;
     width: 320px;
     height: 50px;
     font-size: 1em;
     font-weight: 600;

     margin-top: auto;
     margin-bottom: 1.4rem;
     cursor: pointer;
 }

 .walletButton:hover{
    background-image: none;
    background-color: #111813;
    transition: 200ms;
}
.mintButton{
    background-image: linear-gradient(98deg, #0FC28D ,#36C82A, #BFC20F);
    border: transparent;
    border-radius: .7rem;
    font-family: 'Work Sans', sans-serif;
    color: #ffffff;
    width: 124px;
    height: 50px;
    font-size: 1em;
    font-weight: 600;
    margin-top: 1.2rem;
    margin-bottom: auto;
    cursor: pointer;
}

.mintButton:hover{
    background-image: none;
    background-color: #111813;
    transition: 200ms;
}

.girlImage{
    margin-top: -5rem;
   
 

}

.boyImage{
    margin-right: .5rem;
    margin-bottom: 1rem;
}
.frame2{
    float: right;   
    margin-right: -2rem;
    margin-bottom: -4.8rem;
}


.heroText{
    color: #F6F6FA;
    font-size: 3.2em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.01rem;
    width: auto;
}

.heroTextDiv{
    display: block;
}
.heroSubText{
    color: #919F98;
    font-size: 1.05em;
    line-height: 142%;
    margin-top: -4%;
    letter-spacing: 0.01rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    width: auto;
}

.mintPriceText{
    margin-top: 1.5rem;
    font-size: 1.2em;
    font-weight: 600;
    color: #F6F6FA;
    display: flex;
    margin-left: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.mintLeftText{
    font-weight: 600;
    font-size: 1.2em;
    color: #F6F6FA;
    display: flex;
    margin-left: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.priceSpan{
    color: #27E95D;
    margin-left: .3rem;
}

.mintLeftSpan {
    color: #27E95D;
    margin-left: .3rem;
}
.circleBg{
    bottom: 0%;
    display: block;
    z-index: -10;
  
}

.popUp{
    position: fixed;
   
    width: 100%;
    margin-top: -6%;
    margin-left: -5%;
    height: 100%;
    background-color: #101913af;
}

.popupDiv{
    width: 400px;
    height: auto;
    background-color: #1B1E23;
    text-align: center;
    padding-bottom: 1rem;
    border-radius: 12px;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
  
    display: block;
    margin-right: auto;
    
    margin-top: auto;
    margin-bottom: auto;
    transform: translate(125%, 60%);
    transition: 1000ms;


}
.popupHead{
    color: #F6F6FA;
    font-size: 1.6em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.01rem;
    width: auto;
    text-align: center;
    padding-left: 1rem;
    margin-left: .2rem;
    margin-bottom: 1.2rem;
    
}

.crossBtn{
    cursor: pointer;
    float: right;
}
.connectDiv{
    display: block;
    width: 100%;
}

.mintForm{
    display: block;
    text-align: center;
    align-self: center;
}

@media screen and (min-width: 340px) and (max-width:479px) {
    .heroLeft{
        display: none;
    }

    .heroRight{
        display: none;
    }

    .heroMid{
        margin-top: 3rem;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .heroText{
        font-size: 3em;
        width: 100%;
    }

    .heroSubText{
        font-size: 1.15em;
        width: 100%;
    }

    .popupDiv{
        transform: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        transform: translate(0%,60%);   
        width: auto;
    }

    .popUp{
        margin-right: auto;
        margin-left: -12%;
    
    }
}

@media screen and (min-width: 480px) and (max-width:599px) {
    .heroLeft{
        display: none;
    }

    .heroRight{
        display: none;
    }

    .heroMid{
        margin-top: 5rem;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .heroText{
        font-size: 3em;
        width: 100%;
    }

    .heroSubText{
        font-size: 1.15em;
        width: 100%;
    }

    .popupDiv{
        transform: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        transform: translate(0%,60%);   
        width: auto;
    }

    .popUp{
        margin-right: auto;
        margin-left: -15%;
    
    }
}

@media screen and (min-width: 600px) and (max-width:679px) {
    .heroLeft{
        display: none;
    }

    .heroRight{
        display: none;
    }

    .heroMid{
        margin-top: 5rem;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .heroText{
        font-size: 3.2em;
        width: 100%;
    }

    .heroSubText{
        font-size: 1.15em;
        width: 100%;
    }

    .popupDiv{
        transform: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        transform: translate(10%,70%);   
        
    }

    .popUp{
        margin-right: auto;
        margin-left: -15%;
    
    }
}

@media screen and (min-width: 680px) and (max-width:967px) {
    .heroLeft{
        display: none;
    }

    .heroRight{
        display: none;
    }

    .heroMid{
        margin-top: 7rem;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .heroText{
        font-size: 3.2em;
        width: 100%;
    }

    .heroSubText{
        font-size: 1.15em;
        width: 100%;
    }

    .popupDiv{
        transform: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        transform: translate(10%,50%);   
        
    }

    .popUp{
        margin-top: auto;
        margin-right: auto;
        margin-left: -15%;
    
    }
}

@media screen and (min-width: 968px) and (max-width:1080px) {
    .heroLeft{
        display: none;
    }

    .heroRight{
        display: none;
    }

    .heroMid{
        margin-top: 7rem;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .heroText{
        font-size: 3.2em;
        width: 100%;
    }

    .heroTextDiv{
        padding: 0 5rem;
    }
    .heroSubText{
        font-size: 1.15em;
        width: 100%;
    }

    .popupDiv{
        transform: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        transform: translate(10%,50%);   
        
    }

    .popUp{
        margin-top: auto;
        margin-right: auto;
        margin-left: -15%;
    
    }

}

@media screen and (min-width: 1081px) and (max-width:1279px) {
    
    .heroMid{
        margin-top: 4rem;
    }

    .frame2{
        margin-right: auto;
    }
    

}


@media screen and (min-width: 1580px) and (max-width:1679px) {
    .heroSection{
        margin-top: 2rem;
    }
    .heroMid{
        margin-top: 8rem;
    }
    .heroText{
        font-size: 3.8em;
    }

    .heroSubText{
        font-size: 1.2em;
    }

    .popupDiv{
        transform: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        transform: translate(0%,60%);   
        
    }

    .popUp{
        margin-top: auto;
        margin-right: auto;
        margin-left: -10%;
    
    }

}
@media screen and (min-width: 1680px) and (max-width:1920px) {

    .heroText{
        font-size: 3.8em;
    }

    .heroSubText{
        font-size: 1.2em;
    }
    .heroMid{
        margin-top: 8rem;
    }

 
    .frame2{
        margin-bottom: -2.5rem;
    }

    .heroSection{
        margin-top: 2rem;
    }
    .girlImage{
        margin-top: auto;
        margin-bottom: 5rem;
    }
    
    .popupDiv{
        transform: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        transform: translate(0%,70%);   
        
    }

    .popUp{
        margin-top: auto;
        margin-right: auto;
        margin-left: -13%;
    
    }

  }

  @media screen and (min-width: 1921px) and (max-width:2040px) {
    .girlImage{margin-bottom: 10rem;}
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading_spinner {
    width: 24px;
    height: 24px;
    border: 5px solid #27E95D; /* Light grey */
    border-top: 5px solid #383636; /* Black */
    border-radius: 50%;
    margin-left: .3rem;
    animation: spinner 1.5s linear infinite;
  }

